modules = ["python-3.12", "nodejs-20", "bash", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run PolicyPulse API"

[[workflows.workflow]]
name = "Run PolicyPulse API"
author = 39522656

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[ports]]
localPort = 3000
externalPort = 80
